<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="street">
            <h2><span jhiTranslate="accessApp.street.detail.title">Street</span> {{ street.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="accessApp.street.value">Value</span></dt>
                <dd>
                    <span>{{ street.value }}</span>
                </dd>
                <dt><span jhiTranslate="accessApp.street.town">Town</span></dt>
                <dd>
                    <div *ngIf="street.townId">
                        <a [routerLink]="['/town', street.townId, 'view']">{{ street.townId }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/street', street.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
