<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="number">
            <h2><span jhiTranslate="accessApp.number.detail.title">Number</span> {{ number.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="accessApp.number.value">Value</span></dt>
                <dd>
                    <span>{{ number.value }}</span>
                </dd>
                <dt><span jhiTranslate="accessApp.number.building">Building</span></dt>
                <dd>
                    <span>{{ number.building }}</span>
                </dd>
                <dt><span jhiTranslate="accessApp.number.postcode">Postcode</span></dt>
                <dd>
                    <span>{{ number.postcode }}</span>
                </dd>
                <dt><span jhiTranslate="accessApp.number.street">Street</span></dt>
                <dd>
                    <div *ngIf="number.streetId">
                        <a [routerLink]="['/street', number.streetId, 'view']">{{ number.streetId }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/number', number.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
