<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="ptmAccount">
            <h2><span jhiTranslate="accessApp.ptmAccount.detail.title">Ptm Account</span> {{ ptmAccount.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="accessApp.ptmAccount.name">Name</span></dt>
                <dd>
                    <span>{{ ptmAccount.name }}</span>
                </dd>
                <dt><span jhiTranslate="accessApp.ptmAccount.colour">Colour</span></dt>
                <dd>
                    <span>{{ ptmAccount.colour }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/ptm-account', ptmAccount.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
