<div>
    <h2 id="page-heading">
        <span jhiTranslate="accessApp.ptmAccount.home.title">Ptm Accounts</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-ptm-account" [routerLink]="['/ptm-account/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="accessApp.ptmAccount.home.createLabel">
            Create a new Ptm Account
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="ptmAccounts?.length === 0">
        <span jhiTranslate="accessApp.ptmAccount.home.notFound">No ptmAccounts found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="ptmAccounts && ptmAccounts.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="name"><span jhiTranslate="accessApp.ptmAccount.name">Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="colour"><span jhiTranslate="accessApp.ptmAccount.colour">Colour</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let ptmAccount of ptmAccounts ;trackBy: trackId">
                    <td><a [routerLink]="['/ptm-account', ptmAccount.id, 'view']">{{ ptmAccount.id }}</a></td>
                    <td>{{ ptmAccount.name }}</td>
                    <td>{{ ptmAccount.colour }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/ptm-account', ptmAccount.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/ptm-account', ptmAccount.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(ptmAccount)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="ptmAccounts && ptmAccounts.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
