<div>
    <h2 id="page-heading">
        <span jhiTranslate="accessApp.jobVisit.home.title">Job Visits</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-job-visit" [routerLink]="['/job-visit/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="accessApp.jobVisit.home.createLabel">
            Create a new Job Visit
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="jobVisits?.length === 0">
        <span jhiTranslate="accessApp.jobVisit.home.notFound">No jobVisits found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="jobVisits && jobVisits.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="arrived"><span jhiTranslate="accessApp.jobVisit.arrived">Arrived</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="departed"><span jhiTranslate="accessApp.jobVisit.departed">Departed</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="charge"><span jhiTranslate="accessApp.jobVisit.charge">Charge</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="workCarriedOut"><span jhiTranslate="accessApp.jobVisit.workCarriedOut">Work Carried Out</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="jobId"><span jhiTranslate="accessApp.jobVisit.job">Job</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let jobVisit of jobVisits ;trackBy: trackId">
                    <td><a [routerLink]="['/job-visit', jobVisit.id, 'view']">{{ jobVisit.id }}</a></td>
                    <td>{{ jobVisit.arrived | date:'medium' }}</td>
                    <td>{{ jobVisit.departed | date:'medium' }}</td>
                    <td>{{ jobVisit.charge }}</td>
                    <td>{{ jobVisit.workCarriedOut }}</td>
                    <td>
                        <div *ngIf="jobVisit.jobId">
                            <a [routerLink]="['/job', jobVisit.jobId , 'view']" >{{ jobVisit.jobId }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/job-visit', jobVisit.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/job-visit', jobVisit.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(jobVisit)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="jobVisits && jobVisits.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
